.header {
  display: fixed;
  right: 0;
  top: 0;
  left: 0;
}

.logo {
  height: 5%;
  width: 5%;
  float: left;
}

.header a {
  text-decoration: none;
  color: #f74b42;
}

.nav {
  float: right;
  padding-top: 2%;
  padding-right: 1%;
}
